* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 960px;
}

#slider {
    width: 100%;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#slider .limiterForWidth {
    width: 100%;
    background: #00a8ff;
    overflow: hidden;
}

#slider .carousel {
    white-space: nowrap;
}

#slider .carousel::after {
    display: table;
    content: '';
    clear: both;
}

#slider .carousel>* {
    float: left;
    background: rgba(255, 255, 255, .8);
    height: 150px;
    margin-right: 10px;
}

#slider div[class^='button'] {
    position: absolute;
    left: -10%;
    top: 50%;
    width: 15px;
    height: 15px;
    border: 2px solid #8a8a8a;
    border-width: 2px 0 0 2px;
    transform: translateY(-50%) rotate(-45deg);
    cursor: pointer;
}

#slider div.button-2 {
    left: 106%;
    top: 50%;
    transform: translateY(-50%) rotate(135deg)
}

#slider .boxDots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

#slider .boxDots div {
    width: 12px;
    height: 12px;
    background: #dbdbdb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: all 500ms;
}

#slider .boxDots div:not(:last-child) {
    margin-right: 7px;
}

#slider .boxDots div.active {
    background: yellowgreen;
}

#slider.grab:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

@media screen and (max-width: 1000px) {
    body {
        width: 80%;
    }
}
